.env
.env.*
!.env.example
.git
.gitignore
vendor
node_modules
frontend/node_modules
frontend/dist
bootstrap/cache/*.php
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
.phpunit.cache
